.skills-Box {
  color: white;
  margin: 0 auto;
  padding: 7% 10% 1% 10%;
  text-align: center;
  z-index: 1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-heading {
  margin: 0px 10px;
  padding: 0;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(35px, 5vw, 3vw);
}

.skills-Box p {
  margin: 15px;
  padding: 2vh 0;
  font-size: clamp(15px, 1.3vw, 3vw);
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 10px auto;
}

.skills-container {
  text-align: center;
  margin: 0 auto;
  padding: 0 15%;
}

.listSkills {
  margin: 0 auto;
  padding-left: 10%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .skills-Box {
    position: relative;
    max-height: 100%;
    padding: 10% 10% 2% 10%;
    overflow: auto;
  }

  .flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  /*----scroll child without parent----*/
  .skills-Box {
    position: relative;
    max-height: 100%;
    padding: 10% 10% 2% 12%;
    overflow: auto;
  }

  .flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .skills-container {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .listSkills {
    margin: 0;
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}
