.skills-Box {
  color: white;
  margin: 0 auto;
  padding: 4% 10% 1% 12%;
  text-align: center;
  z-index: 1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.skills-Box h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: clamp(35px, 5vw, 3vw);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .about-Box {
    margin: 0 auto;
    padding: 10% 10% 2% 12%;
  }
}

@media only screen and (max-width: 450px) {
  .about-Box {
    margin: 0 auto;
    padding: 15% 10% 2% 12%;
  }

  .img-box {
    margin: 35px auto 0px auto;
    padding: 35px;
  }

  .img-box img {
    width: 180px;
  }
}
