.about-Box {
  color: white;
  margin: 0 auto;
  padding: 4% 10% 1% 10%;
  text-align: center;
  z-index: 1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-warapper {
  display: flex;
  flex-direction: column;
}

.about-Box h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: clamp(35px, 5vw, 3vw);
}

.text-content p {
  margin: 15px;
  padding: 5px;
  font-size: clamp(15px, 1.3vw, 3vw);
}

.text-content a {
  position: relative;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  color: rgb(211, 213, 255);
}

.img-box {
  height: max-content;
  width: max-content;
  margin: 50px auto 0px auto;
  padding: 25px;

  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(73, 70, 114);
}

.img-box img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .about-Box {
    margin: 0 auto;
    padding: 10% 10% 2% 10%;
  }
}

@media only screen and (max-width: 450px) {
  .about-Box {
    margin: 0 auto;
    padding: 15% 10% 2% 12%;
  }

  .img-box {
    margin: 35px auto 0px auto;
    padding: 25px;
  }

  .img-box img {
    width: 180px;
  }

  .text-content p {
    margin: 15px 10px;
    padding: 5px 0px;
  }
}
