.show-nav-button {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 20px;
  border: 1px solid rgb(52, 50, 207);
  border-left: none;
  box-shadow: 3px 3px 5px 5px rgb(0, 0, 0);
  border-radius: 5%;
  z-index: 10;
  transform: translate(0%, 0%);
  -webkit-transition: transform 0.5s, width 0.5s ease;
  -moz-transition: transform 0.5s, width 0.5s ease;
  -o-transition: transform 0.5s, width 0.5s ease;
  transition: transform 0.5s, width 0.5s ease;
}

.show-nav-button:hover {
  cursor: pointer;
  width: 60px;
  background-color: rgba(11, 10, 70, 0.8);
  border: 1px solid rgba(11, 10, 70, 0.8);

  -webkit-transition: background-color 0.5s width 0.5s ease, border-color 0.5s;
  -moz-transition: background-color 0.5s width 0.5s ease, border-color 0.5s;
  -o-transition: background-color 0.5s width 0.5s ease, border-color 0.5s;
  transition: background-color 0.5s, width 0.5s ease, border-color 0.5s;
}

.hide-nav-button {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 20px;
  background-color: rgba(11, 10, 70, 0.8);
  border-radius: 5%;
  border-left: none;
  z-index: 10;
  transform: translate(-125%, 0%);
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
