.btn-container {
  height: max-content;
  width: 100px;
  display: block;
  border: 1px solid white;
  margin: 40px 10px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 3px;
  box-shadow: none;
  position: relative;

  -webkit-transition: background-color 0.5s, border-color 0.5s ease;
  -moz-transition: background-color 0.5s, border-color 0.5s ease;
  -o-transition: background-color 0.5s, border-color 0.5s ease;
  transition: background-color 0.5s, border-color 0.5s ease;
}

.btn-container:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(11, 10, 70, 0.8);
  border: 1px solid rgba(11, 10, 70, 0.8);
}
