.btn-container {
  height: max-content;
  width: 100px;
  display: block;
  position: relative;
  margin: 40px 10px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(27, 25, 117, 0.4);
  border-radius: 3px;
  box-shadow: 0px 0px 150px rgb(73, 70, 114);
  text-align: center;

  -webkit-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  -moz-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  -o-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
}

.btn-container:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(11, 10, 70, 0.8);
  border: 1px solid rgba(11, 10, 70, 0.8);
  box-shadow: 0 0 3px rgb(121, 120, 218);

  -webkit-transition: background-color 0.5s, box-shadow 0.5s ease,
    text-shadow 0.7 ease, border-color 0.5s ease;
  -moz-transition: background-color 0.5s, box-shadow 0.5s ease,
    border-color 0.7s ease;
  -o-transition: background-color 0.5s, box-shadow 0.5s ease,
    border-color 0.7s ease;
  transition: background-color 0.5s, box-shadow 0.5s ease,
    border-color 0.7s ease;
}
