.header {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 10% 10% 2% 12%;
  z-index: 1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header h1 {
  font-size: 4.1vw;
  margin: 15px 0px;
  font-family: "Josefin Sans", sans-serif;
}

.header-says p {
  margin: 0;
  font-family: "Nerko One", cursive;
}

.header p {
  font-size: 1.3vw;
}

.header-desc {
  padding-left: 10px;
}

.contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 45% 10% 2% 15%;
  }

  .header h1 {
    font-size: 7vw;
  }
  .header-says {
    margin: 20px 0;
  }

  .header-says p {
    margin: 0;
    font-family: "Nerko One", cursive;
  }

  .header p {
    font-size: 2.5vw;
  }

  .header-desc {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    text-align: center;
    padding: 45% 10% 2% 10%;
  }

  .header h1 {
    font-size: 8vw;
  }
  .header-says {
    margin: 20px 0;
  }

  .header-says p {
    margin: 10px 0;
    font-family: "Nerko One", cursive;
  }

  .header p {
    font-size: 3.2vw;
  }

  .header-desc {
    padding-left: 10px;
  }
}
