.showCase {
  position: relative;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 45vh;
  width: 18vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* min-height and min-width */
  min-height: 45vh;
  min-width: 18vw;

  margin: 20px;

  border: 1px solid rgb(27, 25, 117);
  box-shadow: 0px 0px 150px rgba(73, 70, 114, 0.6);

  -webkit-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  -moz-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  -o-transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;
  transition: background-color 0.5s, border-color 0.5s ease,
    box-shadow 0.7s ease;

  transition: 0.5s;
}

.showCase:hover {
  border: 1px solid rgba(11, 10, 70, 0.8);
  box-shadow: 0 0 3px rgb(121, 120, 218);

  height: 47vh;
  width: 20vw;
  /* transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg); */
}

.showCase:before {
  position: absolute;

  content: "";

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.493);

  /* -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); */

  transition: 0.5s;
}

.showCase:hover:before {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.relativeBlock {
  position: relative;
}

.caseHeading > h1 {
  margin: 5px 0;
  font-size: 1.5rem;
}

.desc-with-links {
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
  animation: fadein 0.5s;
}

.desc-with-links > p {
  margin: 5px 10px;
  padding: 0 10px;
  font-size: 1vw;
}

.links > a {
  margin: 0 5px;
  text-decoration: none;
  color: white;

  transition: 0.5s;
}

.links > a:hover {
  color: rgb(121, 120, 218);
}

.links > a > .MuiSvgIcon-root {
  font-size: 1.9rem;
}

@media only screen and (max-width: 800px) {
  .showCase {
    height: 45vh;
    width: 75vw;
  }

  .showCase:hover {
    border: 1px solid rgba(11, 10, 70, 0.8);
    box-shadow: 0 0 3px rgb(121, 120, 218);

    height: 47vh;
    width: 75vw;
  }

  .desc-with-links > p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 450px) {
  .showCase {
    width: 70vw;
  }

  .showCase:hover {
    height: 47vh;
    width: 75vw;
  }

  .desc-with-links > p {
    font-size: 4vw;
  }
}
