.socialBox {
  height: max-content;
  width: max-content;
  position: relative;
  margin: 0;
}

/* 
  --Line height for the width & height--
  width: 40px;
  height: 40px;
  line-height: 43px; */

.social-links {
  margin: 0px 5px;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 38px;
  border: 1px solid rgb(27, 25, 117);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 15px;
  color: white;
  transition: 0.5s;
}

.social-links::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgb(121, 120, 218);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.social-links:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(121, 120, 218);
}

.social-links:hover {
  color: rgb(121, 120, 218);
  box-shadow: 0 0 5px rgb(121, 120, 218);
  /* text-shadow: 0 0 5px rgb(121, 120, 218); */
}
