.show-nav-button {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 20px;
  border: 1px solid rgb(27, 25, 117);
  border-left: none;
  text-shadow: 0 0 5px rgb(121, 120, 218);
  border-radius: 5%;
  z-index: 10;
  transform: translate(0%, 0%);
  -webkit-transition: transform 0.5s ease, background-color 0.5s width 0.5s ease,
    border-color 0.5s, box-shadow 0.5s ease, padding-left 500ms ease;
  -moz-transition: transform 0.5s ease, background-color 0.5s width 0.5s ease,
    border-color 0.5s, box-shadow 0.5s ease, padding-left 500ms ease;
  -o-transition: transform 0.5s ease, background-color 0.5s width 0.5s ease,
    border-color 0.5s, box-shadow 0.5s ease, padding-left 500ms ease;
  transition: transform 0.5s ease, background-color 0.5s, width 0.5s ease,
    border-color 0.5s, box-shadow 0.5s ease, padding-left 200ms ease;
}

.show-nav-button:hover {
  cursor: pointer;
  width: 60px;
  padding-left: 15px;
  background-color: rgba(11, 10, 70, 0.8);
  border: 1px solid rgba(11, 10, 70, 0.8);
  border-left: none;
  box-shadow: 0 0 5px rgb(121, 120, 218);
  -webkit-transition: background-color 0.5s width 0.5s ease, border-color 0.5s,
    box-shadow 0.5s ease, padding-left 500ms ease;
  -moz-transition: background-color 0.5s width 0.5s ease, border-color 0.5s,
    box-shadow 0.5s ease, padding-left 500ms ease;
  -o-transition: background-color 0.5s width 0.5s ease, border-color 0.5s,
    box-shadow 0.5s ease, padding-left 500ms ease;
  transition: background-color 0.5s, width 0.3s ease, border-color 0.5s,
    box-shadow 0.5s ease, padding-left 200ms ease;
}

.hide-nav-button {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 20px;
  background-color: rgba(11, 10, 70, 0.8);
  border-radius: 5%;
  border-left: none;
  z-index: 10;
  transform: translate(-125%, 0%);
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.logo {
  margin: 10px;
}
